/*
 * PC幅のstylesheet
*/
/* #section1 */
#section1 {
  height: calc(100% - 100px); /** 画面高さからヘッダー分の高さを引いています */
  max-height: none;
  min-height: 540px;
}
#section1:before {
  bottom: 71px;
  left: 11px;
}
#section1:after {
  bottom: 16px;
  left: 31px;
}
#section1 .section1__catchCopy,
#section1 .section1__form--sp {
  display: none;
}
#section1 .section1CatchCopyPC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 160px);
}
#section1 .catchCopy {
  position: static;
  align-items: flex-start;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 45px;
}
#section1 .catchCopy .catchCopy__underline:after {
  bottom: -20px;
}
#section1 .section1__form {
  position: static;
}
#section1 .section1__form .applicationForm {
  align-items: flex-start;
}

/* #section2 */
#section2:before {
  top: 88px; /* text幅/2 + 24（余白分） */
  left: -32px; /* -(text幅/2 - text高さ/2）) */
}
#section2 .section2__role {
  font-size: 16px;
}

/* #section3 */
#section3:before {
  top: 63px;
  left: -15px;
}
#section3 .section3__column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
#section3 .section3__teamImage img {
  max-width: 589px;
  height: 240px;
}
#section3 .section3__question {
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  margin-left: 40px;
}

/* #section4 */
#section4:before {
  top: 44px;
  left: 3px;
}
#section4 .section4__contents--pc {
  display: flex;
}
#section4 .section4__contents--sp {
  display: none;
}
#section4 .section4__contents {
  flex-direction: row;
}
#section4 .card {
  width: 100%;
}
#section4 .section4__cardList {
  padding: 4px 16px 18px;
}
#section4 .section4__cardItem {
  border-radius: 13px;
}
#section4 .section4__cardItem:last-child {
  margin-left: 18px;
}
#section4 .section4__cardItemTitle {
  font-weight: bold;
  font-size: 20px;
}
#section4 .section4__cardItemButton span {
  display: inline-block;
  padding: 8px;
}
#section4 .section4__cardItemButton strong {
  font-size: 24px;
  font-weight: normal;
}
#section4 .section4__cardItemImage {
  text-align: center;
}

#section4 .section4__cardItemImage img {
  height: auto;
  max-width: 333px;
}

/* section5 */
#section5:before {
  top: 57px;
  left: -10px;
}
#section5 .section5__carouselTitle {
  min-height: 104px;
}
#section5 .section5__carouselList {
  padding: 0 40px;
}

/* section6 */
#section6:before {
  top: 50px;
  left: -3px;
}

@media only screen and (min-width: 1100px) {
  #section6 .card {
    width: 860px;
    margin: 0 auto;
  }
  #section6 .section6__list {
    height: 436px;
    padding: 24px 17px 0;
  }
  #section6 .section6__stepCircle {
    display: block;
  }
  #section6 .section6__listItem:before,
  #section6 .section6__listItem:after {
    opacity: 0;
    visibility: hidden;
  }
  #section6 .section6__listItem:nth-child(1) {
    transform: translate(calc(50% - 141px), 8px);
  }

  #section6 .section6__listItem:nth-child(2) {
    transform: translate(calc(100% - 278px), 17px);
  }

  #section6 .section6__listItem:nth-child(3) {
    transform: translate(calc(100% - 278px), 100%);
  }

  #section6 .section6__listItem:nth-child(4) {
    transform: translate(0, calc(100% - 106px));
  }

  #section6 .section6__listItem:nth-child(5) {
    transform: translate(0, -318px);
  }

  #section6 .section6__listItem:nth-child(5) .section6__listTitle {
    line-height: 1.4;
  }
  #section6 .section6__listItemBr {
    display: block;
  }
}

/* section7 */
#section7:before {
  top: 68px;
  left: -21px;
}

/* slick */
.slick-slide:not(:first-child) {
  margin-left: 12px;
}
