/*
 * PC幅のstylesheet
*/
body {
  font-size: 16px;
}

.header {
  height: 100px;
  padding: 36px 24px;
}

.header__navigation--sp {
  display: none;
}

.header__navigation--pc,
.header__navigation--pc .navigation {
  display: block;
}

.header__navigation--pc {
  display: flex;
  align-items: center;
}

.header__navigationList {
  margin-right: 12px;
}

.header__navigationListItem {
  display: inline-block;
}

.header__navigationListItem a {
  padding: 12px;
  color: #00011d;
}

.header__navigation--pc .applicationForm .applicationForm__button {
  width: 92px;
  height: 28px;
  line-height: 26px;
}
.header__navigation--pc .applicationForm__button {
  font-size: 12px;
}

/* uitl */
.parallax {
  height: auto !important;
}
.background {
  position: static;
  width: auto;
  padding: 80px 120px;
}

/** 共通タイトルまわり **/
.title {
  font-size: 40px;
  margin-bottom: 64px;
}

.title__text::after {
  bottom: -24px;
}

.title.title--level3 .title__text::after {
  bottom: -12px;
}

.card {
  border-radius: 10px;
}

/** webとLINEの遷移ボタン **/
.applicationForm .applicationForm__catchCopy {
  width: 328px;
  margin-bottom: 24px;
  font-size: 18px;
}

.applicationForm .applicationForm__button {
  width: 160px;
  height: 44px;
}
å
/* #section1 */
#section1 {
  height: calc(100% - 100px); /** 画面高さからヘッダー分の高さを引いています */
  max-height: none;
  min-height: 540px;
}

#section1:before {
  bottom: 71px;
  left: 11px;
}

#section1:after {
  bottom: 16px;
  left: 31px;
}

#section1 .background {
  margin: 0;
}

#section1 .section1__catchCopy,
#section1 .section1__form--sp {
  display: none;
}

#section1 .section1CatchCopyPC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 160px);
}

#section1 .catchCopy {
  position: static;
  align-items: flex-start;
  font-size: 40px;
}

#section1 .section1__form {
  position: static;
}

#section1 .section1__form .applicationForm {
  align-items: flex-start;
}

/* #section2 */
#section2 {
  height: auto;
}

#section2:before {
  top: 88px; /* text幅/2 + 24（余白分） */
  left: -32px; /* -(text幅/2 - text高さ/2）) */
}

#section2 .section2__role {
  font-size: 16px;
}

/* #section3 */
#section3:before {
  top: 63px;
  left: -15px;
}

#section3 .section3__column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
#section3 .section3__teamImage img {
  max-width: 589px;
  height: 240px;
}

#section3 .section3__question {
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  margin-left: 40px;
}

/* #section4 */
#section4:before {
  top: 44px;
  left: 3px;
}

#section4 .section4__contents--pc {
  display: flex;
}

#section4 .section4__contents--sp {
  display: none;
}
#section4 .section4__contents {
  flex-direction: row;
}

#section4 .card {
  width: 100%;
}

#section4 .section4__cardList {
  padding: 4px 16px 18px;
}
#section4 .section4__cardItem {
  border-radius: 13px;
}

#section4 .section4__cardItem:last-child {
  margin-left: 18px;
}
#section4 .section4__cardItemButton span {
  display: inline-block;
  padding: 8px;
}
#section4 .section4__cardItemButton strong {
  font-size: 24px;
  font-weight: normal;
}

/* section5 */
#section5:before {
  top: 57px;
  left: -10px;
}

#section5 .background {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
}

#section5 .section5__carouselItem {
}

/* section6 */
#section6:before {
  top: 50px;
  left: -3px;
}

/* section7 */
#section7:before {
  top: 68px;
  left: -21px;
}

/* slick */
.slick-slide:not(:first-child) {
  margin-left: 12px;
}
