#registration {
  padding: 40px 0;
  background-color: #e7e4e1;
}

#registration:before {
  top: 69px;
  left: -46px;
}

#registration .title {
  margin-bottom: 92px;
}

#registration .card {
  padding: 40px 16px 32px;
}

#registration .card .alignCenter {
  text-align: center;
}

#registration p:first-child {
  margin-bottom: 24px;
}

/* PC用 */
@media only screen and (min-width: 740px) {
  .breadcrumb {
    width: 860px;
  }
  #registration:before {
    top: 65px;
    left: -18px;
  }

  #registration .card {
    box-sizing: border-box;
    width: 860px;
    padding: 40px 64px 32px;
    margin: 0 auto;
  }
}
