/* section1 */
#section1 {
  position: relative;
  height: calc(100% - 60px); /** 画面高さからヘッダー分の高さを引いています */
  max-height: 618px;
}

#section1:before {
  top: auto;
  bottom: 63px;
  left: -5px;
  color: #fff;
  font-size: 12px;
}

#section1:after {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: 8px;
  left: 15px;
  width: 1px;
  height: 32px;
  line-height: 1;
  background-color: #685b4d;
}

#section1 .background {
  height: 100%;
  background-position: right 31% bottom 0;
}

#section1 .section1CatchCopyPC {
  display: none;
}

#section1 .section1__form {
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 100%;
}

#section1 .catchCopy {
  position: absolute;
  top: 12%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 40px;
  line-height: 1.4;
  font-weight: normal;
}

#section1 .catchCopy__text {
  display: block;
  width: 310px;
  color: #685b4d;
}

#section1 .catchCopy .catchCopy__underline {
  position: relative;
}

#section1 .catchCopy .catchCopy__underline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  height: 1px;
  width: 100%;
  background-color: #685b4d;
}

/* section2 */
#section2 {
  height: 262px;
}

#section2:before {
  top: 72px; /* text幅/2 + 8（余白分） */
  left: -48px; /* -(text幅/2 - text高さ/2 - 8（余白分）) */
}

#section2 .background {
  background-color: #e7e4e1;
}

#section2 .section2__role {
  text-align: center;
  line-height: 2.1;
  font-size: 13px;
}

/* section3 */
#section3 {
  height: 487px;
}

#section3:before {
  top: 55px; /* text幅/2 + 8（余白分） */
  left: -31px; /* -(text幅/2 - text高さ/2 - 8（余白分）) */
}

#section3 .icon {
  margin-right: 8px;
}

#section3 .section3__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

#section3 .section3__question li {
  margin-bottom: 8px;
}

#section3 .section3__teamImage {
  margin: 0 8px 73px;
}

#section3 .section3__teamImage img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

/* section4 */
#section4 {
  height: 1161px;
}

#section4:before {
  top: 36px; /* text幅/2 + 8（余白分） */
  left: -13px; /* -(text幅/2 - text高さ/2 - 8（余白分）) */
}

#section4 .background {
  background-color: #e7e4e1;
}

#section4 .section4__contents {
  flex-direction: column;
}

#section4 .section4__contents--sp {
  display: flex;
}

#section4 .section4__contents--pc {
  display: none;
}

#section4 .section4__imageBox {
  margin-bottom: 50px;
  padding-top: 16px;
  text-align: center;
}

#section4 .section4__graphBox {
  position: relative;
  box-sizing: border-box;
  min-height: 239px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 60px;
}

#section4 .section4__imageBoxText {
  text-align: center;
  margin-bottom: 0;
}

#section4 .section4__graphBoxList {
  position: absolute;
  right: 0;
  bottom: 0;
}

#section4 .section4__graphBoxListItem {
  line-height: 1;
  margin-bottom: 12px;
}
#section4 .section4__graphBoxListItem:last-child {
  margin-bottom: 0;
}

#section4 .section4__graphBoxListItemColor {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 4px;
}

#section4 .section4__graphBoxListItemColor.section4__graphBoxListItemColor--1 {
  background-color: #685b4d;
}

#section4 .section4__graphBoxListItemColor.section4__graphBoxListItemColor--2 {
  background-color: #958c82;
}

#section4 .section4__graphBoxListItemColor.section4__graphBoxListItemColor--3 {
  background-color: #c2bdb7;
}

#section4 .section4__graphBoxListItemColor.section4__graphBoxListItemColor--4 {
  background-color: #e1dedb;
}

#section4 .section4__cardList {
  display: flex;
  box-sizing: border-box;
  min-height: 281px;
  margin: 0 -16px;
  padding: 0 5px;
}

#section4 .section4__cardItem {
  width: 50%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 4px 22px;
}

#section4 .section4__cardItem:first-child {
  background-color: #f5f5f5;
}

#section4 .section4__cardItemTitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 24px;
}

#section4 .section4__cardItem img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

#section4 .section4__cardItemButton {
  text-align: center;
}

#section4 .section4__cardItemButton span {
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  padding: 10px 15px;
  white-space: nowrap;
}

#section4 .section4__cardItem:first-child .section4__cardItemButton span {
  background-color: #8d8d8d;
}

#section4 .section4__cardItem:last-child .section4__cardItemButton span {
  background-color: #685b4d;
}

#section4 .section4__moneyBox {
  box-sizing: border-box;
  min-height: 152px;
}

/* section5 */
#section5 {
  min-height: 472px;
}

#section5:before {
  top: 49px; /* text幅/2 + 8（余白分） */
  left: -26px; /* -(text幅/2 - text高さ/2 - 8（余白分）) */
  color: #fff;
}

#section5 .section5__carousel {
  padding: 0 33px 54px;
}

#section5 .section5__carouselItem {
  width: 253px;
  background-color: #fff;
}

/* iPhone8以降幅 */
@media only screen and (min-width: 365px) {
  #section5 .section5__carouselItem {
    width: 303px;
  }
}

#section5 .section5__carouselTitle {
  box-sizing: border-box;
  min-height: 66px;
  padding: 10px 16px 16px;
  color: #fff;
  background-color: #685b4d;
  line-height: 1.4;
}

#section5 .section5__carouselTitle h3 {
  font-weight: normal;
  margin: 0;
}

#section5 .section5__carouselContents {
  padding: 8px 16px 16px;
}
#section5 .section5__carouselTable {
  font-size: 11px;
}

#section5 .section5__carouselTable th {
  text-align: left;
}

#section5 .section5__carouselTable td {
  padding-left: 16px;
}

#section5 .section5__carouselTable strong {
  font-size: 16px;
  font-weight: bold;
}

#section5 hr {
  width: 30%;
  margin: 12px 0;
  border-color: #685b4d;
  border-top: 0;
}

#section5 .section5__summary {
  font-size: 12px;
}

/* section6 */
#section6 {
  min-height: 812px;
}

#section6:before {
  top: 42px; /* text幅/2 + 8（余白分） */
  left: -19px; /* -(text幅/2 - text高さ/2 - 8（余白分）) */
}

#section6 .background {
  background-color: #e7e4e1;
}

#section6 .card {
  position: relative;
  margin-bottom: 32px;
}

#section6 .section6__list {
  padding: 12px 41px 0;
}

#section6 .section6__listItem {
  position: relative;
  margin-bottom: 24px;
  transform: translate(0, 0);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#section6 .section6__listItem:before,
#section6 .section6__listItem:after {
  content: "";
  position: absolute;
  display: block;
  opacity: 1;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#section6 .section6__listItem:before {
  top: 4px;
  left: -25px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #685b4d;
}

#section6 .section6__listItem:after {
  top: 21px;
  left: -21px;
  width: 1px;
  height: calc(100% - 8px);
  background-color: #d8d8d8;
}

#section6 .section6__listTitle {
  font-size: 16px;
}

#section6 .section6__listItemBr {
  display: none;
}

#section6 .section6__stepCircle {
  display: none;
  position: absolute;
  top: calc(50% - 91px);
  left: calc(50% - 97px);
  right: calc(50% - 97px);
  bottom: calc(50% - 91px);
}

/* section7 */
#section7 {
  height: auto;
  min-height: 235px;
}

#section7:before {
  top: 60px; /* text幅/2 + 8（余白分） */
  left: -37px; /* -(text幅/2 - text高さ/2 - 8（余白分）) */
  color: #fff;
}

#section7 .title {
  margin-bottom: 74px;
}

#section7 .applicationForm {
  margin-bottom: 64px;
}
/* ------------------------- parallax */
.parallax {
  position: relative;
  /* height: 400px; */
  overflow: hidden;
}
.background {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------- slick */
.slick-prev,
.slick-next {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25),
    0 3px 14px 0 rgba(119, 132, 134, 0.2);
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-prev {
  background-image: url("../images/Icon/Back.svg");
}
.slick-next:hover,
.slick-next:focus,
.slick-next {
  background-image: url("../images/Icon/Forward.svg");
}

.slick-slide {
  height: auto;
}
.slick-dots li {
  width: 16px;
  height: 16px;
  margin: 0 1px;
}

.slick-dots li button {
  width: 16px;
  height: 16px;
}

.slick-dots li button:before {
  content: "";
  top: 50%;
  width: 16px;
  height: 2px;
  background-color: #fff;
  opacity: 0.4;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}
