#terms {
  padding: 40px 0;
  background-color: #e7e4e1;
}
#terms:before {
  top: 57px;
  left: -34px;
}

#terms .terms__annotation {
  margin-bottom: 40px;
}

#terms .terms__item:not(:last-child) {
  margin-bottom: 64px;
}

#terms .title.title--level3 {
  font-weight: bold;
}

/* PC用 */
@media only screen and (min-width: 800px) {
  .breadcrumb {
    width: 860px;
  }
  #terms:before {
    top: 65px;
    left: -18px;
  }

  .card {
    box-sizing: border-box;
    width: 860px;
    padding: 40px 64px 32px;
    margin: 0 auto;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25),
      0 3px 14px 0 rgba(119, 132, 134, 0.2);
  }
}
