/* reset */
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%; /*disabling user zoom*/
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* util系 */
.icon {
  width: 24px;
  height: 24px;
}

/* スクリーンリーダー用不可視テキスト */
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  user-select: none;
  pointer-events: none;
}

/* Header */
.header {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 18px 16px;
  background-color: #fff;
}

/* ナビゲ−ション */

.navigation__button {
  border: 0;
  background-color: #fff;
  background-image: url("./images/Icon/Menu.svg");
}

.navigation__button.navigation__button--close {
  background-image: url("./images/Icon/Delete.svg");
}

.navigation .navigation__menu {
  /* display: none; */
}

/** webとLINEの遷移ボタン **/
.applicationForm {
  display: flex;
  justify-content: center;
}

.applicationForm .applicationForm__button {
  width: 151px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
}

.applicationForm .applicationForm__button:not(:first-child) {
  margin-left: 8px;
}

.applicationForm .applicationForm__web {
  color: #fff;
  background-color: #685b4d;
}

.applicationForm .applicationForm__line {
  color: #685b4d;
  background-color: #fff;
}

.applicationForm .applicationForm__line.applicationForm__line--border {
  border: 2px solid #685b4d;
}

/* Footer */
.footer {
  padding: 53px 40px 40px;
  background-color: #191715;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer small a {
  font-size: 12px;
  color: #8a8988;
}

/* ------------------------- parallax */
.parallax {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.background {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
